/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
  margin-top: 10px; 
  margin-bottom: 10px
}

.el-table {
  margin-top: 10px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 15px;
}